/* h1{
  padding: 5px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 255, 0.36);  
} */
.users{
    border-radius: 10px;
    padding-left: 10px;
    width: 300px;
    border: 2px solid rgba(7, 7, 7, 0.16);
}